body {
	background: rgb(0, 0, 0) url(http://www.ketchu-free-party.fr/KFP_CM/images/background.jpg) fixed no-repeat center top;
}
div {
	border-color: #ff0000;
	border-width: 2px;
	
}
.popup__content {
	border-top: 5px solid #40dabd;
	padding: 10px;
	width: 220px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
button:hover {
	background: #4a7e74 url(../images/style/generic_button.png) repeat-x;
	color: #4a7e74;
}
button {
	border-radius:5px;
	cursor: pointer;
	padding: 2.5px 5px;
	font: bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	border: 1px solid #125a4c;
	color: rgb(255, 255, 255);
	background: #215148 url(../images/style/navbar.png) repeat-x top left;
}
input, textarea, select {
    border:1px solid #125a4c;
    border-radius:5px;
	cursor: pointer;
	font: bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	color: rgba(255, 255, 255, 1);
	text-align: center;    
	padding: 2.5px 5px;
	background: #215148 url(../images/style/navbar.png) repeat-x top left;
}
input.kfp{
    border:1px solid #40dabd;
    border-radius:5px;
	font: bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: right;    
	padding: 2.5px 5px;
	background: #fff ;
	width: 45px;
}
.gen {
margin: 1px 1px;
font-size: 13px;
color: #40dabd;
font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

h1 {
color: #40dabd;
font-family: Tahoma, "Lucida Grande", Verdana, sans-serif;
font-size: 19px;
font-weight: bold;
text-decoration: none;
}
#top_logo{
	border-width: 0px 0px 0px 0px;
        font-size: 13px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 180px;
}