.leaflet-control-measure {
	font: bold 18px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	font-weight: bold;
	line-height: 15px;
	background-size: 12px 12px;
	background: #215148 url(../images/style/navbar.png) repeat-x top left;
	padding: 0px 0px;
	border: 1px solid #125a4c;
	color: rgb(255, 255, 255);
	}

.leaflet-bar-part-top-and-bottom {
	-webkit-border-radius: 4px 4px 4px 4px;
	        border-radius: 4px 4px 4px 4px;
	border-bottom: none;
	}

.leaflet-touch .leaflet-bar-part-top-and-bottom {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
	}

.leaflet-control-measure-on .leaflet-control-measure {
	box-shadow: 0 0 8px rgba(10,10,10,1.0);
	}

.leaflet-measure-tooltip {
	font: 10px/1.25 "Helvetica Neue", Arial, Helvetica, sans-serif;
	box-shadow: 0 0 1px #BBB;
	margin: 0;
	padding: 1.5px;
	width: auto !important;
	height: auto !important;
	white-space: nowrap;
	font-weight: bold;
	color: #00FF00;
	font-size: 13px;
	border-width: 1px;
	border-color: #FF0000;
	background-color: rgba(80,0,0,0.8);
	}

.leaflet-measure-tooltip-total {
	font: 11px/1.25 "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 1px;
	width: auto !important;
	height: auto !important;
	white-space: nowrap;
	font-weight: bold;
	color: #FF0000;
	background-color: rgba(0,0,0,0.8);
	}

.leaflet-measure-tooltip-difference {
    font: 11px/1.25 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #C50000;
	background-color: rgba(0,0,0,0.8);
	}
